## Ignoreing env variables
variables.env
dev-variables.env

## Ignore node modules && build
**/node_modules
**/.angular
**/cache
**/dist
**/angular-webpack
## Ignore Target modules
**/target
## dhparam
dhparam
certs
