<div class="mobile">
    <mat-icon style="color:greenyellow; float:left; font-size: 30px; position:absolute;top:17px" (click)="back()">keyboard_arrow_left</mat-icon>
    <div style="position:absolute;top:13px;right:16px">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon style="margin-right:0;">menu</mat-icon>
        </button>
    </div>
</div>

<mat-menu class="user-menu" #menu="matMenu" >
    <a *ngFor="let link of nav_links" >
        <button mat-menu-item  [routerLink]="[link.Link]" class="mat-menu-buttons" > <a class="mat-menu-buttons-text">{{ link.LinkName }}</a></button>
    </a>
    <app-social style="width:20px;height:20px;position:relative;left:9px;top:-5px"></app-social>
</mat-menu>
<div class="desktop">
    <a *ngFor="let link of nav_links" >
        <button mat-button (click)="onClick()"  [routerLink]="[link.Link]" style="color:rgb(170,255,0);font-size: large; border-radius: 0;">{{ link.LinkName }}</button>
    </a>
</div>
<img class="logo" src="../../favicon.svg" [routerLink]="['/']"/>
