.project-text{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 400px;
}
.project-text > a {
    font-size: 17px;
    padding-left: 0px;
   
}
.project-text > p {
    font-size: 15px;
    padding-left: 10px;
    
}
.demo-project-text
{
  text-shadow: black 2pt 2pt 3pt;
}
.project-card{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* margin-bottom: 5px; */
   
}
.spinner-div{
    display: block;
    margin-top: 20vw;
    margin-left:auto;
    margin-right: auto;
}
canvas{
    position:fixed;
    overflow: hidden;
    top:0;
    left:0;
    image-rendering: optimizeQuality;
    pointer-events:none;
}
.particle_cursor
{
    opacity: 0;
    text-align: center;
}
.project-card:hover .learn-more{
    opacity:1;
    transition:ease-in 0.3s;
}
.learn-more{
    opacity:0;
    margin-left: 82%;
    margin-top:5%;
    border-radius: 0;
    border:1pt #673ab7 solid;
    color:greenyellow;
    margin-bottom: 30px;
    width: 100px;
    font-size: 10px;

}
.learn-more:hover{
    background-color: rgb(41, 41, 41);
    border: 1pt white solid;
    color:white;
    transition: 0.250s;
}
.grid-item{
    border:black 1px solid;
    position: relative;
    left: 0px;
    animation-name: slide-in;
    animation-duration: 1s;
   
}

@keyframes slide-in {

   /* 0% {opacity:0;left:-25vw;}  */
   0% {opacity:0;} 
   /* 100% {opacity:100%;left:0px;}  */
   100% {opacity:100%;} 
}

.grid-item:hover{
    /* transition: 500ms linear; */
    border-color:greenyellow;
}
.grid-item1{
    /* margin-left: 10px;
    margin-right: 10px; */
    /* border-radius: 5px 5px; */
    
    font-size: 50px;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
    width: auto;
}
.grid{
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    padding-top: 70px;
    padding-bottom: 100px;
    display: grid;
    grid-auto-flow: dense;
   
}
.project-image{
    object-fit: contain;
}

@media only screen and (min-width: 1000px)
{
    .mobile{
        display: none;
    }
    .grid{
        grid-template-columns: repeat(1,1fr);
        max-width:800px;
        margin-left:auto;
        margin-right:auto;

    }
    .grid-item{
        margin-top: 10px;
        width: auto;
        min-width: 250px;
        min-height: 220px;
        border:1pt black solid;
        box-shadow: greenyellow 0 0 1px;
        /* border-color: #673ab7; */
        /* background-color: rgb(66, 66, 66); */
    }
    
    
    .grid-item1{
      grid-column: 1/1;
      grid-row: 1/1;
      height: auto; 
    }
    .project-image{
        padding:10px;
        min-width: 200px;
        min-height: 200px;
        max-width: 300px;
        max-height: 300px;
    }
}

@media only screen and (max-width: 1000px)
{
    .demo-project-text
    {
        text-shadow: black 2pt 2pt 3pt;
        font-size: 30px;
    }
    /* mobile */
    .desktop{
        display: none;
    }
    .grid{
        max-width:500px;
        grid-template-columns: repeat(1,1fr);
        align-items: stretch;
        margin-left:auto;
        margin-right:auto;
    }
    .grid-item1{
      height: auto;

    }
    .grid-item{
        /* background-color: rgb(66, 66, 66); */
        /* border-color: greenyellow; */
        /* border-color: #673ab7; */
        border:1pt black solid;
        box-shadow: greenyellow 0 0 1px;
        margin-top: 10px;
    }
    .grid-item1 > a{
        font-size: calc(15px + 3vw);
    }
   
    p{
        
        font-size: calc(5px + 3vw);
    }

    .project-image{
        padding:10px;
        max-width: calc(170px + 1vw);
        max-height: calc(170px + 1vw);
        /* max-width: 200px;
        max-height: 200px; */
    }
  }
