@media only screen and (min-width: 1000px) {
    
    button{
        position: relative;
        margin-right: 10px;
        background-color: greenyellow !important;
    }
    button:hover{
        box-shadow: black 0px 0px 10px;
        transition: 250ms linear; 
    }
}
@media only screen and (max-width:1000px){
    button{
        position: relative;
        margin-top:5px;
        margin-right: 10px;
        background-color: greenyellow !important;
        width: 40px;
        height:40px;
    }
    img{
        position:relative;
        width: 20px;
        top:-3px;
    }
    button:hover{
        box-shadow: black 0px 0px 10px;
        transition: 250ms linear; 
    }   
}

