<div>
    <!-- example for pipe currency <p>currency is {{dollars|currency}}</p> -->
    <mat-toolbar class="menu" color="primary">
        <div class="routes"><app-navigation></app-navigation></div>
        <div class="social"><app-social></app-social></div>
    </mat-toolbar>
    <mat-toolbar class="mobile" color='primary' >
        
        <div class="routes" ><app-navigation></app-navigation></div>
        <!-- <div class="social"><app-social></app-social></div> -->
    </mat-toolbar>
</div>