h1{
    text-shadow: black 2px 2px 3px;
} 
.carousel{
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
    border:grey 1pt solid;
    position: relative;
    overflow-x:hidden;
    overflow-y:hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color:greenyellow !important;
}

.mat-mdc-unelevated-button.mat-unthemed[_ngcontent-ng-c2821057785] {
    --mdc-filled-button-container-color: transparent;
    --mdc-filled-button-label-text-color: greenyellow;
}
.carousel .carosel-img{
    display: block;
    object-fit: scale-down;
    margin-left: auto;
    margin-right:auto;
    width: 50%;
    height: 30vh;
    max-height: 30vh;
}
@media only screen and (max-width: 1000px)
{
    .spinner-div-project{
        /* position: relative; */
        display: block;
        margin-top: 75vw;
        margin-left: 35vw;
    }
    .top-spacer{
        margin-top:100px !important;
    }
    h1{
        color:greenyellow !important;
        font-size: calc(2vw + 20px);
    }
    .desktop-grid{
        display: none;

    }
    .mobile-grid{
        margin-right: 20px;
        margin-left: 20px;
        height: 100%;

    }
    .grid-tile{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    /* .grid-tile .grid-img{
       width:100% !important;
       height:auto !important;
    } */

    .carousel-left-arrow-button-project{
        position:absolute;
        top:0%;
        bottom:0%;
        /* border: black 1pt solid; */
        left:0px;
        height: 100%;
        width: 5%;
        /* background-color: #673ab7;  */
        background-color:transparent;

    }
    .carousel-right-arrow-button-project{
        position:absolute;
        top:0%;
        bottom:0%;
        right:0px;
        float: right;
        /* border: black 1pt solid; */
        height: 100%;
        width: 5%;
        background-color: transparent;
         /* background-color: #673ab7;  */
    }
    .carousel-item-description-project{
        margin-top:5px;
        display: block;
        color:greenyellow;
        text-align: center;
        /* background-color: grey; */
    }

    .zoom-in{
        position: absolute;
        left:47%;
        top:43%;
        /* right:40px; */
        opacity: 0;
        z-index: 2;
    }

    .mat-mdc-unelevated-button.mat-unthemed {
        --mdc-filled-button-container-color: transparent;
        --mdc-filled-button-label-text-color: #000;
    }

    .grid-img{
        min-width: 80vw;
        height: 70vh;
        max-height: 70vh;
        scale:60%;
        object-fit: scale-down;
    }
    /* .carousel-item:hover .zoom-in{
        transition: 0.5s ease-in;
        opacity: 1;
        font-size: 50px;
    }*/
}
/* Desktop  */
@media only screen and (min-width: 1000px)
{
    .spinner-div-project{
        /* position: relative; */
        display: block;
        margin-top: 20vw;
        margin-left: 48vw;
        margin-right: auto;
    }
    .top-spacer{
        margin-top:170px !important;
    }
    .mobile-grid{
        display: none;
    }
    h1{
        color:greenyellow !important;
    }
    .mat-mini-fab{
        background-color:greenyellow;
    }
    .grid-img{
        width: 900px;
        max-width: 1000px;
        height: 70vh;
        max-height: 70vh;
        scale:60%;
        object-fit: scale-down;
    }

   .title{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
   }

    mat-grid-tile{
        z-index: 0;
        display: block;

    }

    .main-div{
        margin-top: -48px; margin-left: auto;margin-right: auto;width:900px;
    }
    h1{
        font-size: 50px;
    }
    .zoom-in{
        position: absolute;
        left:47%;
        top:43%;
        /* right:40px; */
        opacity: 1;
        z-index: 2;
    }

    .mat-mdc-unelevated-button.mat-unthemed {
        --mdc-filled-button-container-color: transparent;
        --mdc-filled-button-label-text-color: #000;
    }

    .carousel-left-arrow-button-project{
        position:absolute;
        top:0%;
        bottom:0%;
        height:100%;
        left:0px;
        /* background-color: #673ab7; */
        background-color: transparent;
        /* border: black 1pt solid; */
        /* color:greenyellow; */
    }
    .carousel-right-arrow-button-project{
        position:absolute;
        top:0%;
        bottom:0%;
        right:0px;
        float: right;
        height: 100%;
        /* border: black 1pt solid; */
        /* background-color: #673ab7; */
        background-color: transparent;
        /* color:greenyellow; */
    }
    .carousel-item-description-project{
        margin-top:5px;
        display: block;
        text-align: center;
        color:greenyellow;

        /* background-color: grey; */
    }
    .carousel-item:hover{
        cursor: pointer;

    }
    /* .carousel-item:hover .zoom-in{
        transition: 0.5s ease-in;
        opacity: 1;
        font-size: 50px;
    }*/
}
