
h1
{
    margin-top: 20px;
}

canvas{
    position:fixed;
    overflow: hidden;
    top:0;
    left:0;
    image-rendering: optimizeQuality;
    pointer-events:none;
}

.particle_cursor
{
    opacity: 0;
    text-align: center;
}

.other-divs
{
    border:1pt black solid;
    box-shadow: greenyellow 0 0 1px;
    margin-bottom: 100px;
    padding:5px
}
@keyframes slide-in {

   0% {opacity:0;left:-25vw;} 
   100% {opacity:100%;left:0px;} 
}
.portfolio-button{
    grid-area:button;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-top: 50px;
    margin-bottom: 120px;
    border-radius: 0;
    opacity: 100%;
    color:greenyellow;
  }
@media only screen and (min-width: 1000px)
{
    .languages
    {
        max-width: 300px;
        /* animation-name: slide-in; */
        animation-duration: 1s;
        padding:5px;
        grid-area: languages;
        margin-left: auto;
        margin-right: auto;
        /* margin-left:40%; */
        position: relative;
        grid-column: 3/7;
    }
    .frameworks
    {
        grid-area: frameworks;
        /* animation-name: slide-in; */
        animation-duration: 1s;
        padding:5px;
        /* width: 100%; */
        /* margin-left: 10%; */
        margin-left: auto;
        margin-right: auto;
        position: relative;
        grid-column: 4/7;
    }

    .devtools
    {
        padding:5px;
        grid-area: devtools;
        /* animation-name: slide-in; */
        animation-duration: 1s;
        /* margin-right:40%; */
        margin-left: auto;
        margin-right: auto;
        position: relative;
        grid-column: 5/7;
        /* grid-column: 4/5; */
    }
    .grid-container
    {
        margin-left: auto;
        margin-right: auto;
        height: 600px;
        grid-area: grid-container;
        /* margin-top: 80px; */
        /* position: relative; */
        display: grid;
        /* grid-row-gap:20px; */
        /* width: 100%; */
        grid-template-areas: 
        " . languages frameworks devtools . "
        " . languages frameworks devtools . "
        " . languages frameworks devtools . ";
        /* "education education education education education education education" */
        /* "educations educations educations educations educations educations educations" */
        /* "work work work work work work work" */
        /* "workexp workexp workexp workexp workexp workexp workexp" */
        /* "button button button button button button button" */
        left:calc(20vw -1vw);
        overflow-x: hidden;
    }
    .education
    {
        font-size: 30px;
    }
    .educations
    {

        min-width: 10vw;
        width: 80%;
        margin-left: auto;
        margin-right: auto; 
    }
    
    .work
    {
        font-size: 30px;
    }
    .workexp
    {
        min-width: 10vw;
        width: 80%;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .technology-box
    {
        border:1pt black solid;
        box-shadow: greenyellow 0 0 1px;
        max-width: 200px;
        width:200px;
        margin-left: auto;
        margin-right: auto;
    }   
    .technology-box-text
    {
        margin:4px;
        font-size: 15px;
    }
    /* mobile */
    .mobile{
        display: none;
    }
  
    .grid-item1 > a{
        font-size: calc(15px + 3vw);
    }

    .grid-item-resume
    {
        display: block;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }



    .technologies
    {
        margin-top: 80px;
        font-size: 30px;
        /* animation-name: slide-in; */
        animation-duration: 1s;
        margin-left: auto;
        margin-right: auto;
        display: flexbox;
        color: greenyellow;
        text-align: center;
    }

}

/* Mobile */
@media only screen and (max-width: 1000px)
{

    .technologies
    {
        margin-top: 80px;
        font-size: 30px;
        /* animation-name: slide-in; */
        animation-duration: 1s;
        margin-left: auto;
        margin-right: auto;
        display: flexbox;
        color: greenyellow;
        text-align: center;
    }
    .grid-container
    {
        margin-top: 80px;
        position: relative;
        display: grid;
        grid-row-gap:20px;
        width: 100%;
        grid-template-areas: 
        "technology technology technology technology technology"
        "languages languages languages frameworks frameworks"
        "devtools devtools devtools devtools devtools"
        "education education education education education"
        "educations educations educations educations educations"
        "work work work work work"
        "workexp workexp workexp workexp workexp"
        "button button button button button";
        left:calc(20vw -1vw);
        overflow-x: hidden;
    }
    .education
    {
        font-size: 30px;
    }
    .educations
    {

        min-width: 10vw;
        width: 80%;
        margin-left: auto;
        margin-right: auto; 
    }
    
    .work
    {
        font-size: 30px;
    }
    .workexp
    {
        min-width: 10vw;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .technology-box
    {
        border:1pt black solid;
        box-shadow: greenyellow 0 0 1px;
        max-width: 120px;
        margin-left: auto;
        margin-right: auto;
    }   
    .technology-box-text
    {
        margin:4px;
        font-size: 12px;
    }
    /* mobile */
    .desktop{
        display: none;
    }
  
    .grid-item1 > a{
        font-size: calc(15px + 3vw);
    }

    .grid-item-resume
    {
        display: block;
        align-items: center;
    }
    .languages
    {
        max-width: 300px;
        /* animation-name: slide-in; */
        animation-duration: 1s;
        padding:5px;
        grid-area: languages;
        margin-left: auto;
    }

    .frameworks
    {
        grid-area: frameworks;
        /* animation-name: slide-in; */
        animation-duration: 1s;
        padding:5px;
        margin-left: auto;
    }

    .devtools
    {
        padding:5px;
        grid-area: devtools;
        /* animation-name: slide-in; */
        animation-duration: 1s;
        margin-left: auto;
    }
  
  }
