/* body{
    background-color:black !important;
  
} */
.maindialog .mat-dialog-container{
    background-color:rgb(41, 41, 41) !important;
    height:calc(80vw + 200px);
    width: calc(90vw+200px );
 }
/*
.mat-dialog-container{
    background-color:rgb(41, 41, 41) !important;
} */

.carousel{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 80vw;
    color:greenyellow !important;
}
.dialog-image{
    /* image-rendering: optimizeSpeed; */
    display: block;
    object-fit: scale-down;
    margin-top: 10%;
    position: relative;
    margin-left: auto;
    margin-right:auto;
    min-width: 80vw;
    max-height:calc(500px + 1vw);
    max-width: calc(1000px + 1vw);
}
.carousel-left-arrow-button{
    position:absolute;
    top:40%;
    height:20%;
    z-index: 2;
    left:30px;
    background-color: black;
    opacity: 60%;
    color:greenyellow;
    touch-action: manipulation;
}
.carousel-right-arrow-button{
    position:absolute; 
    top:40%;
    right:30px;
    float: right;
    height: 20%;
    /* background-color: #673ab7; */
    background-color: black;
    opacity: 60%;
    color:greenyellow;
    touch-action: manipulation;
}
.carousel-item-description{
    margin-top:0px;
    margin-left:3vw;
    display: block;
    text-align: center;
    color:greenyellow;
    
    /* background-color: grey; */
}