<!-- <body> -->
    <div class="main-dialog">
        <section class="carousel" >
            <button mat-flat-button class="carousel-left-arrow-button" (click)="decrementSlides()"><mat-icon>arrow_back</mat-icon></button>
            <div class="carousel-item">
                <img class="dialog-image" id="carousel-item-center-dialog" src="{{slides.slide[slide_index].image}}">
                <a class="carousel-item-description">{{slides.slide[slide_index].description}}</a>
            </div>
            <button mat-flat-button class="carousel-right-arrow-button" (click)="incrementSlides()"><mat-icon>arrow_forward</mat-icon></button>
        </section>
    </div>
    
<!-- </body> -->
